.header {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0D0C4C;
    position: fixed;
    top: 0;
    z-index: 9;
}

