.contactWrapper {
  min-height: 65vh;
  background-color: #15142B;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .form {
    background: #15142b;
    border: 1px solid #363458;
    border-radius: 5px;
    padding: 60px 65px 30px;

    .mainDescription h2 {
      color: white;
      font-size: 25px;
      font-weight: 600;

      text-align: center;
      padding: 0 0 50px 0;
      vertical-align: baseline;
      display: block;
    }

    form {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      display: block;

      input {
        width: 100%;
        background: transparent;
        border: 0;
        border-radius: 0;
        padding-left: 0;
        color: white;
        display: inline-block;
        text-align: start;
        height: 45px;
        outline: 0;
        margin-bottom: 21px;
        border-bottom: 1px solid #363458;
        font-size: 20px;
      }

      input:focus {
        outline-offset: 0px;
      }

      textarea {
        width: 100%;
        height: 175px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #363458;
        border-radius: 0;
        color: #fff;
        outline: 0;
        font-size: 20px;
        //padding:  15px 0;
      }

      .buttonWrapper {
        vertical-align: baseline;
        text-align: center;
        button {
          background: #fe3e57;
          color: #fff;
          border: 1px solid #fe3e57;
          margin-top: 20px;
          border-radius: 40px;
          //font-size: .9375rem;
          padding: 12px 25px 9px;
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 0.1rem;
        }
      }


    }
  }
}