.contactWrapper {
    min-height: 20vh;
    background-color: #e5dede;
    padding: 20px;
    /*border-top: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /*width: 400px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.mainDescription{margin-bottom: 20px}
.form div {
    /*min-width: 350px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 10px;*/
}

.form form{
    /*width: 60%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 60%;*/
    width: 310px;
    margin: 0 auto;
    border: 1px solid;
}

.form button{
    margin-top: 20px;
}
 form input{
     width: 97%;
 }
 form textarea{
     width: 97%;
     min-height: 100px;
 }