.skill {
  min-width: 200px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  //margin: 5px;
  color: white;

  .icon {
    margin: 10px;

    img {
      height: 150px;
    }
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 8px;

    h1 {
      margin: 0;
      font-size: 45px;
    }

    .description {
      padding: 8px 0;
      overflow: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .skill {
    width: 80%;
  }
}

@media screen and (max-width: 933px) {
  .skill {
    width: 100%;

    .descriptionWrapper {
      width: 100%;

      h1 {
        display: inline-block;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .skill {
    flex-direction: column;

    .descriptionWrapper {
      align-items: center;

      .description {
        text-align: center;
      }
    }
  }
}