.skill {
  min-width: 200px;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: white;
  flex-wrap: wrap;

  .icon {
    margin: 10px;

    img {
      height: 150px;
    }
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;

    h1 {
      display: inline-block;
      text-align: center;
      padding: 25px;
      border-bottom: 1px solid white;
    }

    .description {
      padding: 25px 0;
      overflow: auto;
      width: 100%;
      font-size: 30px;
      text-align: center;
      border-bottom: 1px solid white;
      letter-spacing: 0.1rem;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 1400px) {
  .skill {
    width: 100%;
    max-width: 650px;

    .descriptionWrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 933px) {
  .skill {
    width: 100%;

    .descriptionWrapper {

      .description {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .skill {
    width: 100%;
    .descriptionWrapper {
      .description {
        font-size: 20px;
      }
    }
  }
}