.levelWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid white;

  div {
    height: 5px;
    min-width: 36px;
    border: 1px solid #ece8e8;
    margin-right: 3px;
    flex-grow: 1;
  }
}
