.work {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin-bottom: 25px;

  .icon {
    min-height: 200px;
    width: 100%;
    background-color: #dce0df;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    button {
      position: absolute;
      font-size: 25px;
      visibility: hidden;
    }

    button:hover {
      z-index: 2;
      transform: scale(2, 2);
      transition-duration: 0.5s;
    }
  }

  .icon:hover {
    img {
      filter: brightness(0.4);
      transition-duration: 0.5s;
    }

    button {
      visibility: visible;
    }
  }

  h3 {
    font-size: 25px;
    color: #d2d0d0;
    padding: 20px 0;
  }

  .description {
    text-align: left;
    padding: 20px 0;
    //overflow: auto;
    color: #d2d0d0;
    font-size: 18px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    line-height: 1.6;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .work {
    width: 80%;
    padding: 20px 0;
  }
}