.mainWorkBlock{
    border-top: 1px solid;
    min-height: 50vh;
    background-color: #aeacac;
    /*padding: 20px;*/
}
.workContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: wrap;*/
    align-items: center;
}
.title{
    background-color: #d2d0d0;
    padding: 5px;
}
.works{
    /*border:1px solid;*/
    width: 100%;
    min-height: 20%;
    background-color: #d2d0d0;
    display: flex;
    flex-wrap: wrap;
    /*flex-grow: 1;*/
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 400px;
    background-color: #b0acac;
}
.photo{
    width: 400px;
}
img{
    width: 400px;
}