.mainWorkBlock{
  min-height: 40vh;
  background-color:#15142B;
  display: flex;
  align-items: center;
  .workContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .title{
    color: white;
    padding: 5px;
  }
  .works {
    width: 100%;
    min-height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 35px;
  }
}