.mainBlock{
    min-height: 80vh;
    background-color: #d2d0d0;
    border-top: 1px solid;
    display: flex;
    align-items: center;
}
.skillsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title{
    background-color: #aeacac;
    padding: 5px;
}
.skills{
    width: 100%;
    min-height: 20%;
    background-color: #aeacac;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text{
    background-color: #b0acac;
}
