.mainBlock {
  min-height: 80vh;
  background-color: #121127;
  //background-image: url("http://follio-react.wpocean.com/static/media/slide-1.4509da9d.jpg");
  padding: 20px;
  margin-top: 80px;
  display: flex;
  align-content: center;

  .mainContainer {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .text {
      padding: 8px;
      margin: 10px 0;
      color: white;

      h1 {
        border: 2px solid white;
        padding: 8px;
        box-shadow: 0 0 10px #ECC0C6;
        font-family: "Convergence", sans-serif;
        font-weight: bold;
        font-size: 55px;

        @keyframes box-shadow {
          from {
            box-shadow: 0 0 10px -10px #ECC0C6
          }
          50% {
            box-shadow: 0 0 10px 10px #ECC0C6
          }
          to {
            box-shadow: 0 0 10px -10px #ECC0C6
          }
        };

        animation: box-shadow 4s infinite ease-in-out;
      }
    }

    .img {
      width: 300px;
      box-shadow: 0 0 10px #ECC0C6;
      @keyframes box-shadow {
        from {
          box-shadow: 0 0 10px -10px #ECC0C6
        }
        50% {
          box-shadow: 0 0 10px 10px #ECC0C6
        }
        to {
          box-shadow: 0 0 10px -10px #ECC0C6
        }
      };
      animation: box-shadow 4s infinite ease-in-out;
    }

    @media screen and (max-width: 830px) {
      .mainContainer {
        flex-direction: column-reverse;
      }
      .img {
        width: 380px;
      }
    }
    @media screen and (max-width: 471px) {
      .img {
        width: 100%;
      }
    }
  }
}