.mainBlock {
    min-height: 20vh;
    background-color: #e5dede;
    padding: 20px;
    border-top: 1px solid;
}

.mainContainer {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    background-color: #b0acac;
    padding: 8px;
    margin: 10px 0;
}

.photo {

}

.mainContainer .img {
width: 300px;
}

@media screen and (max-width: 830px) {
    .mainContainer {
       flex-direction: column-reverse;
    }
    .mainContainer .img {
        width: 380px;
    }
}

@media screen and (max-width: 471px) {
    .mainContainer .img {
        width: 100%;
    }
}