.work {
    min-width: 200px;
    width: 350px;
    height: 350px;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.icon {
    min-height: 200px;
    width: 100%;
    background-color: #dce0df;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.description {
    text-align: center;
    padding: 8px;
    overflow: auto;
    color: #d2d0d0;
}

.work h3{
    color: #d2d0d0;
}

@media screen and (max-width: 830px) {
    .work {
        width: 480px;
        /*font-size: 25px;*/
    }
}