.skill {
  min-width: 200px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: white;

  .icon {
    margin: 10px;
    //min-width: 190px;
    //text-align: center;
    img {
      height: 150px;
    }
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    width: 200px;

    h1 {
      //padding: 0;
      margin: 0;
      font-size: 45px;
    }

    .description {
      //text-align: center;
      padding: 8px;
      overflow: auto;
      width: 100%;
    }


  }

  @media screen and (max-width: 933px) {
    .descriptionWrapper {
      width: 80%;
    }
  }

}

@media screen and (max-width: 1400px) {
  .skill {
    width: 80%;

  }
}

@media screen and (max-width: 933px) {
  .skill {
    width: 100%;

    .descriptionWrapper {
      width: 100%;
    }
  }
}

//@media screen and (max-width: 511px) {
//  .skill {
//    width: 100%;
//  }
//}
@media screen and (max-width: 660px) {
  .skill {
    flex-direction: column;
  }
}