.wrapper {
    min-width: 350px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.wrapper h2 {
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: bold;
    text-align: center;
    font-stretch: condensed;
}



