.nav{
    width: fit-content;
    padding:10px;
    display: flex;
    justify-content: center;
}
.nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 0.08rem;
    padding: 0 5px;
}